#lobbyPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lobbyContainer {
	width: 60%;
	height: 60%;
	display: flex;
	flex-direction: column;
	padding: 30px;
	justify-content: center;
	align-items: center;
	background-color: #116df5;
	border-radius: 20px;
	box-shadow: 2px 2px 20px 10px rgb(0, 0, 0, 0.3);
}

#lobbyHeader {
	margin-bottom: 40px;
	font-size: 3em;
	color: white;
	text-align: center;
}

#codeInput {
	margin-bottom: 40px;
	width: 150px;
	font-size: x-large;
}

#codeSubmit {
	width: 100px;
	height: 100px;
	font-size: x-large;
}

body {
	margin: 0;
	background-image: linear-gradient(45deg, #5100ff, #3700ff);
}

/* body,
html {
	overflow: hidden;
} */
