#page {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #116df5;
	box-shadow: 2px 2px 20px 10px rgb(0, 0, 0, 0.3);
	padding: 20px;
}

#bottomBar {
	width: 90%;
	flex: 1;
	display: flex;
}

#messageInput {
	flex: 8;
	height: 100%;
	font-size: x-large;
	margin-right: 20px;
}

#sendMessage {
	flex: 1;
	height: 100%;
	font-size: x-large;
	border-radius: 20%;
}

body {
	background-image: linear-gradient(45deg, #5100ff, #3700ff);
}

#messageHistory {
	flex: 9;
	width: 90%;
	margin-bottom: 20px;
	padding: 10px 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: end;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

.messageBubble {
	width: 60%;
	height: fit-content;
	margin-top: 20px;
	border-radius: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 40px;
	background-color: #e6efff;
	overflow-wrap: break-word;
}

.myBubble {
	align-self: flex-start;
}

.notMyBubble {
	align-self: flex-end;
}

.sendTime {
	font-size: 1.2em;
}

.messageContext {
	font-size: 2em;
}
